[[runners]]
  name = "{{ glrun_name }}"
  url = "{{ glrun_coordinator_url }}"
  executor = "docker"
  # following tags are applied when registering: {{ glrun_tags }}
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  [runners.docker]
    tls_verify = false
    image = "alpine:latest"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/cache"]
    shm_size = 0
